<!--<p>
	main works!
</p>-->

<div class="page-header">
	<h2>美利堅合眾國政治體系 <small>Politics of USA</small></h2>
</div>

<div class="col-md-3">
	<div *ngFor="let root of treeRoot">
		<h3>{{ root.title }} <small>{{ root.small }}</small></h3>
		<ul>
			<li class="node" role="button" (click)="onClick(node)" *ngFor="let node of root.nodes">
				<p><img [src]="node.imgPath" [width]="imgWidth"> {{ node.name }}</p>
			</li>
		</ul>
		<hr>
	</div>
</div>

<div class="col-md-9">
	<router-outlet></router-outlet>
</div>