<!--<p>
	{{title}}
</p>-->

<div class="col-md-offset-1">
	<h1>Angular2 router</h1>
</div>

<nav class="navbar navbar-default">
	<div class="col-md-offset-1 col-md-10">
		<ul class="nav navbar-nav">
			<li routerLinkActive="active"><a routerLink="/main">美利堅合眾國政治體系</a></li>
			<li routerLinkActive="active"><a routerLink="/about">關於</a></li>
		</ul>
	</div>
</nav>

<!-- main -->
<div class="col-md-offset-1 col-md-10">
	<router-outlet></router-outlet>
</div>

<!-- bg-warning-->
<div class="col-md-offset-1 col-md-10">
	<hr>
	<footer class="alert alert-warning text-center">
		<p>
			本網站作為學習及學術研究用途，網站內文均取自<a href="https://zh.wikipedia.org/wiki/%E7%BE%8E%E5%9B%BD%E5%86%85%E9%98%81">維基百科</a>；網站中所使用的美國政府圖片，其所有權屬於美利堅合眾國。
		</p>
		<p>
			電子郵件：aaa90025@gmail.com
		</p>
	</footer>
</div>